<div class="center">
  <div class="title">
	Arroyo and Wagner Wedding
  </div>
  <%= link_to 'Enter', welcome_show_path , class: 'btn-semi' %>
</div>
<center><div class="welcome">
I love you without knowing how, or when, or from where, I love you directly without problems or pride: I love you like this because I don't know any other way to love, except in this form in which I am not nor are you, so close that your hand upon my chest is mine, so close that your eyes close with my dreams.
</div></center>

