# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 89404283c16110645284715aa0082f57920177580dcb3c21a2f13904f626bd60e212242ae05ccf38a1da509fbfddeb3cbbe47dbdd53326ec0d779da0dcff4dbb

test:
  secret_key_base: f92c68d71cc7737c16c2da59e98fcb2cc97eec930ce982989902866ea87c6288707fc5bdf23afa6221b0d4225c0fe4551787ba13bbd264cdbb074ba90945a935

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
