<div class="container-fluid">
	<h1 class="title"> Sign Jessica and William's Guestbook </h1>
	<%= render 'form', guestbook: @guestbook %>
	<%= link_to 'Back', guestbooks_path, class: "btn-semi-inline" %>
</div>




