html, body {
    height:100%;
} 
body {
    background-color: white;
    background-image: url('http://images.staticjw.com/tid/8947/brollopsfoto.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    }

.title {
	margin-bottom: 5%;
  text-align: center;
	font-size: 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	color: white;
  text-shadow: 2px 2px #999999;
}	

.welcome {
	margin-top: 5%;
  text-align: justify;
	text-justify: inter-word;
	font-size: 14px;
	max-width: 400px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-style: italic;
	color: #444;
}	


.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  margin: auto;
}
/* This is to hide fields */
.cant-see-me{
  display:none;
}
.front_page{
  overflow: hidden;
}
.panel-turq{
  background: rgba(128, 215, 215, 0.25);
  border: none;
}